<div class="row" *ngFor="let estoria of acervo">
    <div class="col s12 m6 activator">
        <div class="card">
            <div class="card-content activator">
                <span class="card-title activator grey-text text-darken-4">{{estoria.titulo }}</span>
                <p><span class="new badge red" data-badge-caption="">{{estoria.pontos}} Pontos</span>{{estoria.descricao}}.</p>
                <p><a href="#">Tarefas</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
</div>